################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DockerTestApi/obj
/obj
/DockerTestApi/bin/Debug/netcoreapp2.2
/.vs/AzureDevOpsHackaton/v15
